/* *{
    margin: 0;
    box-sizing: border-box;
} */


.container {
   
    background-color: #c00025;
    width: 400px;
    height: 650px;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    
    
}
.logo-container {
    margin: 4% ;
} 
 .display {
    margin-top: 25px;
    height: 90px;
    width: 350px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-left: 2%;
  } 
  button {
      
      margin: 6px;
      padding: 12px;
      width: 80px;
      height: 70px;
      text-transform: capitalize;
      font-size: 27px;
      border-radius: 55%;
      border: 1px solid darkslategray;
  } 
